{% include 'admin/header.html' %}
<body id="page-top">
    <div id="wrapper">
        {% include 'admin/navbar.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Dashboard</h3>

                </div>
            </div>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>

